.body-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.container .card {
  position: relative;
  width: 300px;
  height: 530px;
  background: #0c1012;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 20%;
  background: #ff5442;
}

.container .card .imgBox {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  width: 50%;
  height: 300px;
  left: -30%;
}

.container .card .imgBox img {
  position: absolute;
  top: 44%;
  left: -80%;
  transform: rotateY(360deg) translate(50%, -60%);
  width: 360px;
}

.container .card .contentBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card .contentBox {
  height: 250px;
}

.container .card h2 {
  position: relative;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 1px;
  color: #fff;
}

.container .card .size,
.container .card .color {
  display: flex;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  margin: 20px 0;
}

.container .card:hover .size,
.container .card:hover .color {
  opacity: 1;
  visibility: visible;
}

.container .card:hover .size {
  transition-delay: 0.5s;
}

.container .card:hover .color {
  transition-delay: 0.7s;
}

.container .card h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 5px;
}
.container .card h6 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 5px;
}

.card .contentBox Button {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
}

.card .contentBox Button {
  opacity: 1;
  transform: translate(0px);
}

.card .contentBox Button:hover {
  background: #ff472b;
  color: #fff;
}
@media (max-width: 659px) {
  .container .card {
    width: 235px;
    height: 400px;
    background: #0c1012;
    border-radius: 20px;
    margin-top: 5%;
  }
  .container .card::before {
    /* display: none; */
    width: 20%;
    height: 20%;
    background: #ff5442;
    clip-path: circle(360px at 10% 10%);
    transition: 0.3s ease-in-out;
    z-index: 200;
  }
  .container .card .imgBox img {
    /* display: none; */
    position: absolute;
    top: 30%;
    left: -60%;
    transform: rotateY(360deg) translate(50%, -60%);
    width: 260px;
  }
}
